NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=demo
RESEND_API_KEY=
RESEND_FROM="Janiczek Foto <formularz@janiczekfoto.pl>"
CONTACT_TO=janiczek.office@gmail.com
# Panel zdjęć Sanity (darmowy projekt)
NEXT_PUBLIC_SANITY_PROJECT_ID=ogu8s3po
NEXT_PUBLIC_SANITY_DATASET=production
